body {
    background-color: #FAEBC8;
    font-family: "Open Sans";
    vertical-align: middle;
}

section {
    background-color: white;
    border-radius: 20px;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 40px 100px 40px 100px;
}

section article {
    display: inline-block;
    width: 26.4%;
    vertical-align: top;
    padding: 20px 25px 10px 25px;
    text-align: center;
}

section article img {
    width: 70px;
    height: auto;
}

.text {
    text-align: left;
}

.author {
    text-align: left;
    color: #8b4f44;
    font-style: italic;
    font-weight: bold; 
    text-shadow: 20px 20px 2px #444444;
}

#Jerry {
    padding-top: 44px;
}

#Robert {
    padding-top: 22px;
}

#monkey {
    -webkit-box-shadow: 0px 0px 15px 5px #8b4f44; 
    box-shadow: 0px 0px 15px 5px #8b4f44;
    }