.post-header {
    display: flex;
    justify-content: space-between;
}

.create-post .wrapper {
    position: relative;
    padding-bottom: 0;
}

.create-post label {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.create-post input,
.create-post textarea {
    margin-bottom: 24px;
}

.create-post input.error,
.create-post textarea.error {
    background-color: #f9e1e1;
    color: #fc4343;
}

.create-post input.error:hover,
.create-post textarea.error:hover {
    background-color: #f7cdcd;
}

.create-post .form-error {
    position: absolute;
    color: #f08c79;
    bottom: 0;
    margin: 0;
}

.image-upload p:first-of-type {
    margin-bottom: 1em;
}

.image-upload .form-error {
    bottom: 48px;
}

.image-upload img {
    display: block;
    margin: 0 auto 24px;
}

.image-upload {
    position: relative;
}

.image-upload div {
    display: flex;
    justify-content: space-between;
}

.image-upload button {
    display: block;
    padding: 0.5em 1.2em;
    font-size: 1.2em;
    margin: 6px 0;
}

.image-upload .button:disabled,
.image-upload .button.red:disabled {
    border-color: #585f66 !important;
    color: #585f66 !important;
    cursor: not-allowed;
}

.image-upload .upload {
    margin: 6px auto;
}

@media screen and (max-width: 480px) {

    .create-post .wrapper {
        padding-bottom: 0;
    }
}