body {
    font-family: Helvetica, sans-serif;
}

body header nav {
    background-color: #f0f0f5;
    color: #00d3d4;
    text-align: center;
    padding: 3px;
}

body header nav ul li {
    display: inline-block;
    border: 3px;
    border-top: 0;
    border-bottom: 0;
    border-color: white;
    border-style: solid;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin: 0px -4px 0px -3px;
}

body header nav ul li a {
    text-decoration: none;
    color: #00d3d4;
}

body header nav ul li i {
    font-size: 30px;
    padding: 20px;
}

main section {
    display: inline-block;
}

main section:nth-child(1) {
    background-color: #555c6f;
    color: #b2b6c0;
    padding: 30px;
    padding-bottom: 5px;
    float: left;
    width: 35vw;
    height: 460px;
}

main section:nth-child(1) h2 {
    padding-bottom: 30px;
}

main section:nth-child(1) div {
    padding-top: 30px;
    padding-bottom: 90px;
}

main section:nth-child(1) div i {
    margin: 7px;
    margin-left: 0;
}

main section:nth-child(2) {
    background-color: #00d3d4;
    padding: 30px;
    padding-bottom: 5px;
    color: white;
    float: inline-end;
    width: calc(65vw - 153px);
    height: 460px;
}

main section:nth-child(2) article {
    display: inline-block;
    max-width: 40%;
}

main section:nth-child(2) article h2 {
    line-height: 5px;
}

main section:nth-child(2) article p {
    margin-top: 40px;
} 

main section:nth-child(2) article img {
    border-width: 10px;
    border-color: white;
    border-style: solid;
    width: 200px;
    height: 200px;
    position: relative;
    left: 150px;
    top: -30px;
}

#copyright {
    font-size: 12px;
}