<div class="container">
    <div class="profile">
        <img src="/assets/profile.png" alt="default user">
        <h3>User Info:</h3>
        <form #form="ngForm" (ngSubmit)="handleProfileEdit()">
            <div class="flex">
                <p>Username: </p>
                <input type="text" name="username" id="username" [ngModel]="user.username" #usernameInput="ngModel"
                    required minlength="5">
            </div>
            <ng-container *ngIf="usernameInput.touched">
                <p class="error" *ngIf="usernameInput.errors?.['required']">
                    Username is required!
                </p>
                <p class="error" *ngIf="usernameInput.errors?.['minlength']">
                    Username must be at least {{usernameInput.errors?.['minlength'].requiredLength}} characters!
                </p>
            </ng-container>

            <div class="flex">
                <p>Email: </p>
                <input type="email" name="email" id="email" [ngModel]="user.email" #emailInput="ngModel" required
                    [appEmail]="emailDomains">
            </div>
            <ng-container *ngIf="emailInput.touched">
                <p *ngIf="emailInput.errors?.['required']" class="error">
                    Email is required!
                </p>
                <p *ngIf="emailInput.errors?.['appEmailValidator']" class="error">
                    Email is not valid!
                </p>
            </ng-container>
            <div class="flex">
                <p>Phone: </p>
                <div>
                    <select name="telCode" id="select-tel" class="tel" [ngModel]="user.telCode" #telCode="ngModel">
                        <option value="00359">+359</option>
                    </select>
                    <input type="text" name="tel" id="tel" [ngModel]="user.tel" #tel="ngModel">
                </div>
            </div>
            <button type="button" class="red-button" routerLink="/user/profile">Cancel</button>
            <button class="green-button" [disabled]="form.invalid">Save</button>
        </form>
    </div>
</div>