.table {
    width: 100%;
}

.table thead {
    position: sticky;
    width: 100%;
    top: 0;
    background: white;
    z-index: 1;
}

.table th {
    border-top: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 8px;
    text-align: center;
}

.table th .wrapper {
    display: inline-block;
    min-width: 20px;
    margin-left: 5px;
}

.table th:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgba(199, 198, 198, 0.5);
}

.table th i {
    color: #f08c79;
    font-size: 1.2em;
    margin-left: 5px;
    pointer-events: none;
}

.table td.actions {
    color: #f08c79;
    font-size: 2em;
    cursor: pointer;
    position: relative;
}

.table td.actions i {
    transition: all 0.25s ease-in-out;
}

.table td.actions .remove_author {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: crimson;
}

.table td.actions:hover .author {
    opacity: 0;
}

.table td.actions:hover .remove_author {
    opacity: 1;
}

.table td.actions .add_author {
    color: #a3a3a3;
    opacity: 0;
}

.table td.actions:hover .add_author {
    opacity: 1;
}

.table tr th,
.table tr td {
    width: auto;
}

.table tbody tr {
    margin: 0px 5px;
    height: 50px;
}

.table tbody td {
    line-height: 1.5rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    padding: 5px;
    height: 50px;
}

.table tbody {
    position: relative;
}

.table tr:nth-child(odd) td {
    background: #f9f9f9;
}

.table tr:nth-child(odd):hover td {
    background: rgba(250, 250, 250, 0.1);
}

.table tbody tr:hover {
    background: rgba(7, 7, 7, 0.1);
}

.image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 40px;
    padding: 2px;
    border: 1px solid rgb(147, 145, 145);
    display: flex;
    margin: auto;
}

.image.message {
    cursor: pointer;
}

.image.message:hover {
    transform: scale(1.1);
    border-color: #f08c79;
    transition: all 0.25s ease-in-out;
}

.pagination {
    text-align: center;
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0px 10px;
    margin-top: 12px;
}

.pagination .save_changes {
    margin-left: auto;
    align-self: center;
}

.pagination .save_changes button {
    margin-bottom: 0;
    margin-left: 12px;
}

.pagination .limit {
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #f08c79;
    transition: all 0.25s ease-in-out;
}

.pagination .btn {
    color: #f08c79;
    border: none;
    margin: 0;
    transition: all 0.25s ease-in-out;
}

.pagination button {
    padding: 5px 10px;
}

.pages {
    color: #f08c79;
    padding: 0px 20px;
    margin: 0;
    margin-top: 5px;
}

.pagination .actions {
    display: flex;
    margin: 0px;
}

.limits,
.limits .limit {
    color: #f08c79;
}

.limits .limit:hover {
    color: #34495e;
    border-color: #34495e;
}

.limits .limit:focus {
    outline: none;
}

@media screen and (max-width: 480px) {

    .table,
    .table thead,
    .table tbody,
    .table th,
    .table td,
    .table tr {
        display: block;
    }

    .table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table{
        border-top: unset;
    }

    .table tbody tr td {
        border: none;
        position: relative;
        padding-left: 50%;
        display: flex;
        align-items: center;
        font-size: 1.2em;
        height: 36px;
        
    }


    .table tbody tr td:first-of-type {
        padding: 0;
        height: 70px;
        border-top: 1px solid #a3a3a3;
        border-bottom: 1px solid #a3a3a3;
    }

    .table tbody tr td .image {
        width: 60px;
        height: 60px;
    }

    .table td:before {
        position: absolute;
        left: 6px;
        text-align: left;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        align-self: center;
    }

    .table tbody tr {
        height: auto;
        margin: 0;
    }

    td:nth-of-type(2):before {
        content: "First Name";
    }

    td:nth-of-type(3):before {
        content: "Last Name";
    }

    td:nth-of-type(4):before {
        content: "Username";
    }

    td:nth-of-type(5):before {
        content: "Email";
    }

    td:nth-of-type(6):before {
        content: "Joined";
    }

    td:nth-of-type(7):before {
        content: "Author";
        font-size: 0.6em;
        color: #737171;
    }

    .pagination {
        flex-wrap: wrap;
        font-size: 1.4em;
        height: auto;
    }

    .pagination .pages {
        margin-left: auto;
    }

    .pagination .actions {
        margin: 0 auto;
    }

    .pagination .actions button {
        font-size: 1.4em;
    }

    .pagination .save_changes {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
    }

    .pagination .save_changes button {
        font-size: 1.5em;
        margin: 0;
    }

}