.table {
    width: 100%;
}

.table thead {
    position: sticky;
    width: 100%;
    top: 0;
    background: white;
    z-index: 1;
}

.table th {
    border-top: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 8px;
    text-align: center;
}

.table th:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgba(199, 198, 198, 0.5);
}

.table th i {
    color: #f08c79;
    font-size: 1.2em;
    margin-left: 5px;
    opacity: 0;
}

.table th:hover i {
    opacity: 1;
}

.table th i.active {
    opacity: 1;
}

.table tr th,
.table tr td {
    width: auto;
}

.table tbody tr {
    margin: 0px 5px;
    height: 50px;
}

.table tbody td {
    line-height: 1.5rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    padding: 5px;
    height: 50px;
}

.table tbody {
    position: relative;
}

.table tbody tr:nth-child(1n) {
    background: rgba(7, 6, 6, 0.3);
}

.image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 40px;
    padding: 2px;
    border: 1px solid rgb(147, 145, 145);
    display: flex;
    margin: auto;
}

.pagination {
    text-align: center;
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0px 10px;
    justify-content: space-between;
    margin-top: 12px;
}

.pagination .user-confirm {
    margin-left: auto;
    margin-bottom: 0;
}

.pagination .limit {
    margin-left: 5px;
    border: none;
    border-bottom: 1px solid black;
}

.pagination .btn {
    color: #f08c79;
    border: none;
    margin: 0;
}

.pagination button {
    padding: 5px 10px;
}

.pages {
    color: #f08c79;
    padding: 0px 20px;
    margin: 0;
    margin-top: 5px;
}

.pagination .actions {
    display: flex;
    margin: 0px;
}

.limits,
.limits .limit {
    color: #f08c79;
    border-bottom-color: #f08c79;
}