.search-form {
    margin: 1em auto;
    max-width: 960px;
    position: relative;
    left: -2px;
}

.search-input-container {
    display: flex;
}

.search-input-container button {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0;
    margin: 0;
    padding: 0.5em 1em;
}

.search-input-container input {
    position: relative;
    left: 2px;
}

.search-input-container button:first-of-type {
    position: relative;
    left: 2px;
}

.search-input-container .btn {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.additional-search-params {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    
}

.additional-search-params button {
    background-color: transparent;
    border-radius: 0;
    font-family: Lato, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    color: #f08c79;
    font-size: 1.1em;
    padding: 5px 10px;
}

.additional-search-params button i {
    margin-left: 8px;
    position: relative;
    top: 1px;
}
.additional-search-params button:hover {
    border-color: #34495e;
    color: #34495e;
    background-color: transparent;
}