<form class="login" #loginForm="ngForm" (ngSubmit)="loginHandler()">

    <fieldset>
        <h2>Login Form</h2>

        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input type="email" name="email" id="email" placeholder="john.doe@gmail.com" ngModel #emailInput="ngModel"
                required [appEmail]="emailDomains">
        </p>
        <ng-container *ngIf="emailInput.touched">
            <p *ngIf="emailInput.errors?.['required']" class="error">
                Email is required!
            </p>
            <p *ngIf="emailInput.errors?.['appEmailValidator']" class="error">
                Email is not valid!
            </p>
        </ng-container>

        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input type="password" name="password" id="password" placeholder="******" ngModel #passwordInput="ngModel"
                required minlength="5">
        </p>
        <ng-container *ngIf="passwordInput.touched">
            <p class="error" *ngIf="passwordInput.errors?.['required']">
                Password is required!
            </p>
            <p class="error" *ngIf="passwordInput.errors?.['minlength']">
                Password must be at least {{passwordInput.errors?.['minlength'].requiredLength}} characters!
            </p>
        </ng-container>

        <button [disabled]="loginForm.invalid">Login</button>

        <p class=" text-center">
            Have an account?
            <a routerLink="/user/register">Register</a>
        </p>

    </fieldset>
</form>