<section class="create-form-container">

    <form method="POST">
        <h3>Create Book Review</h3>
        <label for="title">Title</label>
        <input type="text" name="title" class="box" id="title">
        <label for="author">Author</label>
        <input type="text" name="author" class="box" id="author">
        <label for="genre">Genre</label>
        <input type="text" name="genre" class="box" id="genre">
        <label for="stars">Stars</label>
        <input type="number" name="stars" class="box" id="stars">
        <label for="image">Image</label>
        <input type="text" name="image" class="box" id="image">
        <label>Review</label>
        <textarea class="box" name="review"></textarea>
        <input type="submit" value="Create" class="btn">
    </form>
</section>