body {
    background-color: #f0f0f5;
    font-family: Helvetica, sans-serif;
    width: 1000px;
    margin: 5px;
}

header>div {
    float: left;
    display: flex;
    align-items: center;
}

header div>img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

header div>p {
    color: #f66d20;
    font-weight: 550;
}

header nav ul li a {
    color: #f66d20;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 550;
}

header nav {
    text-align: right;
    float: right;
}

header ul li {
    display: inline-block;
}

main section:nth-child(1) {
    clear: both;
    background-image: url("picture.jpg");
    background-size: cover;
    padding: 15rem;
    text-align: center;
}

main section:nth-child(1) h1 {
    color: white;
    text-decoration: none; 
}

main section:nth-child(1) h1 span {
    color: #f66d20;
}

main section button {
    color: white;
    background-color: #f66d20;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    
}

main section:nth-child(2) article{
    background-color: #f66d20;
    color: white;
    width: 29%;
    display: inline-block;
    padding: 18px;
}

main section:nth-child(2) article h3 {
    text-align: center;
}

main section:nth-child(2) article p {
    text-align: justify;
}